header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 10000 !important;
    background: rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: 'Bauhaus 93 V1';
    /* height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms; */
  }

  .menu {
    font-size: 2em;
    color: #ffffff;
    letter-spacing: 2px;
    transition: 0.5s;
    z-index: 10000;
  }

  .nav {
    display: flex;
  }
  .nav li {
    list-style: none;
    margin: 0 20px;
  }
  .nav li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
  }

  .nav li:hover a {
    color: var(--primary)
  }