.swiper {
  height: 100vh !important;
  width: 100%;
  overflow: hidden;
}

.swiper::after {
  position: absolute;
  top: 80%;
  left: 15%;
  height: 3px;
  width: 200px;
  content: "";
  background: #ffffff;
  z-index: 100;
}

.swiper .swiper-button-prev {
  position: absolute;
  top: 80%;
  left: 100px;
  height: 54px;
  width: 54px;
}

.swiper .swiper-button-next {
  position: absolute;
  top: 80%;
  right: 87%;
  height: 54px;
  width: 54px;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 30px;
  line-height: 0;
  width: 54px;
  height: 54px;
  background: transparent;
  border-radius: 50%;
  transition: 0.3s;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3) !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

/* Mobile View Coding */
@media (max-width: 1440px) {
  .swiper .swiper-button-prev {
    left: 100px;
  }

  .swiper .swiper-button-next {
    right: 84%;
  }

  .swiper::after {
    left: 18%;
    height: 2px;
    width: 160px;
  }
}

@media (max-width: 768px) {
  .swiper .swiper-button-prev {
    left: 15%;
    top: 93%;
  }

  .swiper .swiper-button-next {
    right: 55%;
    top: 93%;
  }

  .swiper::after {
    top: 93%;
    left: 50%;
    height: 2px;
    width: 130px;
  }
}